name: Compile

on:
  workflow_call:
    inputs:
      ignore-cache:
        required: false
        type: boolean
        description: build without node_modules cache
      os:
        required: false
        type: string
        default: 'ubuntu-latest'
        description: Operation system for build process
      node-version:
        required: false
        type: string
        default: latest
        description: NodeJS version for build process

concurrency:
  group: ${{ github.repository }}/${{ github.ref_name }}/${{ github.workflow }}/${{ github.job }}
  cancel-in-progress: true

jobs:
  build:
    name: 'Build NPM package'
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm
          package-manager-cache: true
          cache-dependency-path: package.json

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Upload package 'dist'
        uses: actions/upload-artifact@v7
        with:
          name: dist
          path: dist/
          if-no-files-found: error
          retention-days: 1
