name: Deployment to npmJS repository

on:
  workflow_call:
    inputs:
      deployment-environment:
        description: GitHub deployment environment
        required: false
        type: string
        default: npm
      force:
        required: false
        type: boolean
        description: force deployment

concurrency:
  group: ${{ github.repository }}/${{ github.ref_name }}/${{ github.workflow }}
  cancel-in-progress: true

jobs:
  deployment:
    environment: ${{ inputs.deployment-environment }}

    runs-on: ubuntu-latest

    permissions:
      actions: read
      deployments: write
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:

      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Download package 'dist'
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist/

      - name: Cache readme.md
        # TODO: replace with download-artifact
        id: cache-readme
        uses: actions/cache@v5
        with:
          path: readme.md
          key: package-readme-${{github.run_id}}

      - name: Cache package.json
        # TODO: replace with download-artifact
        id: cache-package-json
        uses: actions/cache@v5
        with:
          path: package.json
          key: package.json-${{github.run_id}}

      - uses: JS-DevTools/npm-publish@v4
