---
name: Deployment to npmJS repository

on:
  workflow_call:
    inputs:
      deployment-environment:
        description: GitHub deployment environment
        required: false
        type: string
        default: npm
      force:
        required: false
        type: boolean
        description: force deployment

concurrency:
  group: ${{ github.repository }}/${{ github.ref_name }}/${{ github.workflow }}/${{ github.job }}
  cancel-in-progress: true

jobs:
  deployment:
    environment: ${{ inputs.deployment-environment }}

    runs-on: ubuntu-latest

    permissions:
      actions: read
      deployments: write
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:

      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Download package
        uses: actions/download-artifact@v8
        with:
          name: package

      - uses: JS-DevTools/npm-publish@v4
